@page
@model MovieWatchlist.Pages.Watchlist.GetMoviesModel
@{
    ViewData["Title"] = "GetMovies";
}

<h1>Search Movies</h1>

<hr />
<form>
    <p>
        Title: <input type="text" asp-for="Movie.Title" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

